* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
body {
  background: linear-gradient(
    to right,
    #cf6f0f 0%,
    #cf6f0f 15%,
    #33aec9 85%,
    #33aec9 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  overflow-y: auto;
}

@keyframes slideMainIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.maincontent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1150px;
  padding-top: 120px;
  animation: slideMainIn 1s ease-out;
}
.maincontent > * {
  opacity: 0;
  animation: slideMainIn 1s ease-out forwards;
  animation-delay: 0.2s;
}

.departure-location,
.destination-location {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.favorite-button,
.attach-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  outline: none;
  transition: transform 0.2s;
}

.favorite-button :active,
.attach-button img:active {
  animation: lightning-strike 0.6s ease-out;
}

@keyframes lightning-strike {
  0% {
    filter: brightness(2) drop-shadow(0 0 10px yellow);
    transform: scale(1.3) rotate(0deg);
  }
  25% {
    filter: brightness(8) drop-shadow(0 0 40px white);
    transform: scale(1.6) rotate(-15deg);
  }
  50% {
    filter: brightness(6) drop-shadow(0 0 30px #ffff33);
    transform: scale(0.8) rotate(10deg);
  }
  75% {
    filter: brightness(4) drop-shadow(0 0 20px #ffff99);
    transform: scale(1.4) rotate(-5deg);
  }
  100% {
    filter: none;
    transform: scale(1) rotate(0deg);
  }
}

.favorite-button img,
.attach-button img {
  width: 25px;
  height: auto;
  margin-left: 160px;
  cursor: pointer;
}

/* 下拉選單 */
.city-dropdown {
  position: absolute;
  background-color: rgba(100, 100, 100, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  border-radius: 4px;
  margin-top: 0;
  z-index: 10;
  max-height: 400px;
  overflow-y: auto;
  width: 160px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.city-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.city-list li {
  padding: 8px 40px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.5s ease, color 0.3s ease;
}

.city-list li:hover {
  background: linear-gradient(45deg, #ff6ec4, #7873f5, #4ade80, #facc15);
  background-size: 300% 300%;
  animation: rainbowShift 3s ease infinite;
  color: white;
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 行政區 */
.departure-district,
.destination-district {
  font-size: 24px;
}

.departure-forecast-days,
.destination-forecast-days {
  display: flex;
  margin-bottom: 70px;
  gap: 25px;
}

.departure-forecast-days > div,
.destination-forecast-days > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.departure-forecast-days > div.active,
.destination-forecast-days > div.active {
  border: 1px solid white;
  border-radius: 50%/50%;
  background-color: transparent;
  animation: pulse-border 0.3s ease-out;
}

@keyframes pulse-border {
  0% {
    border-width: 1px;
  }
  30% {
    border-width: 3px;
  }
  100% {
    border-width: 1px;
  }
}

.current-time-text {
  margin-bottom: 10px;
  font-size: 20px;
}
.departure-current-temperature,
.destination-current-temperature {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  font-size: 60px;
}

.animated-text {
  background: linear-gradient(270deg, #0044cc, #ffffff, #00ff00, #0044cc);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextFlow 12s linear infinite;
}

@keyframes animatedTextFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.departure-temperature-unit {
  margin-left: 5px;
  font-size: 58px;
}
.destination-temperature-unit {
  font-size: 58px;
  margin-left: 5px;
  line-height: 1;
}
.destination-temperature-value {
  line-height: 1;
}

.departure-temperature-range,
.destination-temperature-range {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  gap: 2px;
}
.departure-temperature-maxvalue,
.destination-temperature-maxvalue,
.temperature-separator,
.departure-temperature-minvalue,
.destination-temperature-minvalue {
  font-size: 21px;
  line-height: 1;
  vertical-align: middle;
  margin-top: 2px;
}

.temperature-separator {
  position: relative;
  top: 1px;
}

.temp-change-brackets {
  font-size: 35px;
  margin-left: 10px;
  line-height: 1;
  position: relative;
  top: -10px;
}
.temp-change-brackets::before {
  content: "(";
  margin-right: 2px;
}

.temp-change-brackets::after {
  content: ")";
  margin-left: 2px;
}
.temp-change-brackets::before,
.temp-change-brackets::after {
  font-size: 1em;
}

.departure-rain-probability,
.destination-rain-probability {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  font-size: 20px;
  gap: 2px;
}

.rain-probability-change {
  display: flex;
  margin-left: 2px;
  gap: 2px;
}

.departure-periodic-weather,
.destination-periodic-weather {
  display: flex;
  gap: 5px;
  width: 320px;
}

.destination-weather-items,
.departure-weather-items {
  display: flex;
  gap: 5px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.departure-weather-item,
.destination-weather-item {
  display: block;
  align-items: center;
  text-align: center;
  padding: 6px 12px;
  border-radius: 999px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.departure-weather-item.active,
.destination-weather-item.active {
  border: 1px solid white;
  border-radius: 50px;
  background-color: transparent;
  animation: pulse-border 0.3s ease-out;
}

@keyframes pulse-border {
  0% {
    border-width: 1px;
  }
  30% {
    border-width: 3px;
  }
  100% {
    border-width: 1px;
  }
}

.departure-weather-time,
.destination-weather-time {
  color: white;
  font-size: 16px;
  margin-bottom: 4px;
  transition: color 0.2s;
}

.departure-weather-time,
.destination-weather-time {
  margin-bottom: 13px;
  text-align: center;
}

.arrow-indicator {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-indicator img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.arrow-indicator:active {
  background: linear-gradient(45deg, #ff6ec4, #7873f5, #4ade80, #facc15);
  background-size: 300% 300%;
  animation: rainbowShift 1s ease infinite;
  box-shadow: 0 0 20px #ff6ec4, 0 0 40px #7873f5, 0 0 60px #4ade80;
  transform: scale(1.1);
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.time-arrow-left,
.time-arrow-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 23px;
  height: auto;
}

.time-arrow-left:active,
.time-arrow-right:active {
  transform: scale(1.2) rotate(3deg);
  animation: pop 0.3s ease-out;
}

@keyframes pop {
  0% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(253, 253, 253, 0.9);
  }
  100% {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
}

.bottom-weather-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.bottom-departure-weather-icon img,
.bottom-destination-weather-icon img {
  width: 200px;
  height: auto;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: 150px;
  margin-top: auto;
  padding-top: 0;
  padding-bottom: 30px;
  background-color: #5b5b5b;
}

.footer-text {
  width: auto;
  height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
}

/* popup window */
@keyframes SlidePopupInFromTop {
  0% {
    transform: translate(-50%, -100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.popup-window.show {
  animation: SlidePopupInFromTop 0.5s ease-out;
}

.popup-window {
  display: none;
  background-color: #ffffff;
  position: fixed;
  width: 400px;
  height: 150px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 60px 0 #aaaaaa;
  z-index: 500;
  border: none;
  animation: slideInFromTop 0.5s ease-out;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
  cursor: pointer;
}

.popup-content {
  margin: 15px 15px 15px 19px;
}

.popup-title {
  width: 200px;
  height: 23px;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.dc-webhook-wrapper,
.email-input-wrapper {
  display: flex;
  align-items: center;
  gap: 17px;
  height: 30px;
  margin-bottom: 15px;
}

.dc-webhook-wrapper img {
  width: 30px;
  height: 30px;
}

.email-input-wrapper img {
  width: 30px;
  height: 30px;
}

.webhook-input,
.email-input {
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 7.5px 20px 7.5px 5px;
  margin-top: 15px;
  line-height: 1.2;
  vertical-align: middle;
  color: black;
}

.webhook-input::placeholder {
  width: 140px;
  font-size: 12px;
  vertical-align: middle;
  color: #757575;
}

.email-input::placeholder {
  width: 140px;
  font-size: 12px;
  vertical-align: middle;
  color: #757575;
}

.submit-btn {
  width: 50px;
  height: 30px;
  padding: 7px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  font-size: 12px;
  color: black;
  vertical-align: middle;
  justify-content: center;
  cursor: pointer;
  margin-top: 4px;
}

.submit-btn {
  position: relative;
  overflow: hidden;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.56);
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease, background 0.3s ease;
}

.submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 400%;
  height: 100%;
  background: linear-gradient(120deg, #ff66b3, #ffffff, #6600cc);
  animation: colorfulFlow 6s linear infinite;
  z-index: 1;
  opacity: 1;
}

.submit-btn span {
  color: black;
  position: relative;
  z-index: 2;
}

@keyframes colorfulFlow {
  0% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

/* Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Tablet: screen width < 1200px */
@media (max-width: 1199px) {
  .maincontent {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 96%;
  }
}

/* Mobile Layout */
@media (max-width: 768px) {
  body {
    background: linear-gradient(
      to bottom,
      #cf6f0f 0%,
      #cf6f0f 15%,
      #33aec9 85%,
      #33aec9 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    overflow-y: auto;
  }

  .maincontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
  }

  .departure {
    width: 100%;
    margin-bottom: 100px;
  }
  .destination {
    width: 100%;
    margin-bottom: 50px;
  }

  /* 下拉選單 */
  .city-dropdown {
    max-height: 280px;
    overflow-y: auto;
    width: 130px;
  }

  .city-list li {
    padding: 8px 35px;
    font-size: 15px;
  }

  .departure-location,
  .destination-location {
    margin-bottom: 5px;
  }
  .arrow-indicator {
    width: 30px;
    height: auto;
  }
  .favorite-button img {
    width: 20px;
    height: auto;
  }
  .attach-button img {
    width: 20px;
    height: auto;
  }

  .departure-district,
  .destination-district {
    font-size: 17px;
  }

  .time-arrow-left img,
  .time-arrow-right img {
    width: 19px;
    height: auto;
  }

  .departure-forecast-days,
  .destination-forecast-days {
    gap: 12px;
    margin-bottom: 30px;
  }

  .departure-forecast-days > div,
  .destination-forecast-days > div {
    width: 24px;
    height: 24px;
    font-size: 13px;
  }

  .current-time-text {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .departure-current-temperature,
  .destination-current-temperature {
    font-size: 36px;
    margin-bottom: 5px;
  }

  .departure-temperature-unit,
  .destination-temperature-unit {
    font-size: 34px;
  }

  .temp-change-brackets {
    font-size: 20px;
    margin-left: 6px;
    line-height: 1;
    position: relative;
    top: -5px;
  }
  .temp-change-brackets::before {
    content: "(";
    margin-right: 1px;
  }

  .temp-change-brackets::after {
    content: ")";
    margin-left: 1px;
  }
  .temp-change-brackets::before,
  .temp-change-brackets::after {
    font-size: 1em;
  }

  .departure-temperature-range,
  .destination-temperature-range {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .departure-temperature-maxvalue,
  .destination-temperature-maxvalue,
  .temperature-separator,
  .departure-temperature-minvalue,
  .destination-temperature-minvalue {
    font-size: 16px;
  }

  .temperature-image img {
    width: 20px;
    height: 23px;
  }

  .rain-image img {
    width: 20px;
    height: 23px;
  }

  .departure-rain-probability,
  .destination-rain-probability {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .departure-periodic-weather,
  .destination-periodic-weather {
    flex-wrap: flex;
    gap: 3px;
    width: 280px;
  }

  .departure-weather-time,
  .destination-weather-time {
    font-size: 12px;
  }

  .departure-weather-item,
  .destination-weather-item {
    padding: 4px 8px;
  }

  .bottom-weather-icons {
    display: none;
  }

  /* footer */
  footer {
    height: 150px;
    padding-bottom: 0;
  }

  /* popup window */
  .popup-window {
    margin: 0 auto;
    width: 80%;
    height: 150px;
  }

  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-button img {
    width: 17px;
    height: auto;
  }

  .popup-content {
    margin: 15px 10px 10px 13px;
  }

  .popup-title {
    width: 200px;
    height: 20px;
    font-size: 17px;
    margin-bottom: 15px;
  }

  .dc-webhook-wrapper,
  .email-input-wrapper {
    gap: 10px;

    margin-bottom: 15px;
  }

  .dc-webhook-wrapper img {
    width: 28px;
    height: 28px;
  }

  .email-input-wrapper img {
    width: 28px;
    height: 28px;
  }

  .webhook-input,
  .email-input {
    width: 200px;
    height: 30px;
  }

  .submit-btn {
    width: 45px;
    height: 30px;
    padding: 5px;

    margin-top: 5px;
  }
}
